<div class="container">
	
	<h1>Edit Post</h1>
	<div class="divider"></div>

	<div class="container">
		
	<div class="row">
			<div class="col s12">
		
				<%= form_for @post do |f| %>
					<%= f.label :title %>
	    		<%= f.text_field :title %>

	    		<%= f.label :body %>
	    		<%= f.text_area :body %>

	    		<%= f.submit class:"btn green"%>
	  		<% end %>
			</div>
		
		</div>
	</div>
</div>
